[submodule "themes/terminal"]
	path = themes/terminal
	url = https://github.com/panr/hugo-theme-terminal.git
[submodule "themes/simple"]
	path = themes/simple
	url = https://github.com/the-sumeet/simple.git
